@import "modal.css";
.index-footer {
    color: white;
    font-weight: lighter;
    float: right;
    margin-bottom: 15px;
    position: fixed;
    bottom: 0;
    width: 98%;
}

/* 右浮动 */
.float-right {
    float: right;
}

.text-float-right {
    text-align: right !important;
}

/* homepage底部 */
.homepage-footer {
    width: 100%;
    height: 50px;
    border: 1px solid #e9e9e9;
    background-color: #f8f8f8;
    text-align: center;
    color: #4a4a4a;
}

.pipeline-body {
    min-height: calc(100% - 132px);
    margin-bottom: 20px;
}

.register-panel {
    width: 50%;
    height: 50%;
    margin: auto;
}

/* 本系统标准字体 */
.font-light {
    font-family: "PingFang HK";
    font-weight: lighter;
}

.panel-body > ul {
    list-style: none;
    padding-right: 40px;
}

.panel-body > ul > li {
    list-style: none;
    margin-top: 25px;
}

/* 竖线分隔符 */
.separator {
    color: #9d9d9d;
    margin-left: 5px;
    margin-right: 5px;
}

/* 对勾颜色 */
.check-right {
    color: #4cae4c !important;
}

/* 错号颜色 */
.check-fault {
    color: red !important;
}

/* 错误字体 */
.error-font-size {
    font-size: 11px !important;
}

/*通用颜色设置*/

.purple {
    color: #464068;
}

.fail,
.error {
    color: #E64A1B !important;
}

.success {
    color: #C6EC9B !important;

}

.running {
    color: #FFAC30 !important;
}

.waiting {
    color: #DCDDDE !important;
}

.bg-purple {
    background-color: #464068 !important;
}

.bg-fail,
.bg-error {
    background-color: #E64A1B !important;
}

.bg-success {
    background-color: #C6EC9B !important;

}

.bg-running {
    background-color: #FFAC30 !important;
}

.bg-waiting {
    background-color: #CACBCC !important;
}

.modified {
    color: #FFAC30;
}

.added {
    color: #7ab439;
}

.gray-color,
.deleted {
    color: #7d7d7d;
}


.navbar-default-plus {
    background-color: #464068 !important;
    border-color: #464068 !important;
    border-radius: 0 !important;
    margin-bottom: 10px !important;
}

.font-normal-color {
    color: #929292 !important;
}

.padding-left-right-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.label-message {
    color: #888e90 !important;
    font-family: serif !important;
}

.button-bubble {
    background-color: white !important;
    color: #0c47bf !important;
    border-color: #0c47bf !important;
    margin-left: 10px !important;
    font-size: 12px !important;
}