.index-footer {
    color: white;
    font-weight: lighter;
    float: right;
    margin-bottom: 15px;
    position: fixed;
    bottom: 0;
    width: 98%;
}

/* 右浮动 */
.float-right {
    float: right;
}