@import "../lib/bootstrap/css/bootstrap.min.css";
@import "../lib/font-awesome/css/font-awesome.min.css";
@import "../lib/ng-tags-input/css/ng-tags-input.css";
@import "../widget/tooltip/tooltip.css";
@import "../widget/loader/css/agile-loading.css";
@import "../";